canvas {
  margin-top: 10px;
  border: 1px solid #d3d3d3;
  height: 80vw;
  background-color: white;
  image-rendering: pixelated;
}

body {
  background-color: #2d2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Adjust this height to make the scrolling effect more noticeable */
  background: linear-gradient(to bottom, red, blue); /* Initial background gradient */
  transition: background 0.5s ease;
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

body.animate {
  animation: scroll 5s linear infinite;
}

.display-container {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}

#prediction-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prediction-container div {
  margin: 0 20px;
}



.controlls {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
 }
 
 .controlls:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
 }
 
 .controlls:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }


 .button1 {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

.button1:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.button1 {
  top: 0;
  left: 0;
  position: fixed;
  display: inline-block;
  margin-top: 15px;
  margin: 20px;
  padding: 10px 30px 15px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.button1:hover {
  color: black;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.button1:active {
  transform: scale(0.9);
}