canvas {
  border: 1px solid  #0084ff;
  height: 80vw;
  background-color: rgba(0, 191, 255, 0.454);
  image-rendering: pixelated;
}

body {
  background-color: rgba(142, 210, 255, 0.781);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.display-container {
  color: rgba(0, 68, 255, 0.489);
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}

#prediction-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prediction-container div {
  margin: 0 20px;
}
