body {
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  color: antiquewhite
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  transform: translateX(calc(-93%));
  height: 100%;
  padding-right: 20px;
}

nav:hover {
  transform: translateX(0);
}

nav > ul > li {
  list-style: none;
  padding: 10px;
  margin: 0;
}

nav > b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex-direction: column;
}

nav > ul > li > a {
  font-size: 2rem;
  text-decoration: none;
  color: antiquewhite;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

main {
  padding: 20px 50px;;
}