body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(65, 102, 224);
  color: rgb(255, 255, 255)
}

.background_img {
  background-image: url(KI.jpg);
  background-size: cover;
  height: 50px;

}



nav > ul > li {
  list-style: none;
  padding: 10px;
  margin: 0;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav > ul > li > a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

main {
  padding: 20px 50px;;
}