body {
  margin: 20px;
  text-align: center; 
  background-color: #FF8040;
  }

  #box {
    width: 400px;
    margin: 0px auto;
    padding: 15px;
    text-align: left;
    background-color: #FFFFCC;
  }

  nav > ul > li {
    list-style: none;
    padding: 10px;
    margin: 0;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  
  nav > ul > li > a {
    font-size: 2rem;
    text-decoration: none;
    color: antiquewhite;
  }
  
  nav > ul > li > a:hover {
    text-decoration: underline;
  }
  main {
    padding: 20px 300px;
  }