body{
    color:black;
    background-color: honeydew;
    text-align: center;
    font-size: 20px;
    padding: 20px 50px;;
    width:70vw;
    margin:0 auto;
}

nav > ul > li {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  
  nav > ul > li > a {
    font-size: 2rem;
    text-decoration: none;
    color: darkgreen;
  }
  
  nav > ul > li > a:hover {
    text-decoration: underline;
  }

h1, h2 {
    font-size: x-large;
    color: limegreen;
    font-style: bold;
}

.padding:hover{
  padding:150px;
}

.margin:hover{
  margin: 100px;
}