canvas {
  border: 1px solid #c52ebb;
  height: 80vw;
  background-color:beige;
  image-rendering: pixelated;
}

body {
  background-color: #92dae3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.display-container {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
  background-color:#92dae3;
}

#prediction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #92dae3;
}

#prediction-container div {
  margin: 0 20px;
  background-color: #92dae3
}
.controlls button{
  background-color: pink; /*hintergrundfarbe*/
  color: wihte; /*textfarbe*/
padding: 10px 20px;/*Innenabsatnd*/
border:none;/*rand entfernen*/
border-radius: 4px;/*abgerunderte Ecken*/
cursor:pointer; /*Zeiger bei Hover*/
margin-right: 10px;/*abstand zwischen den buttons*/

}
.controlls button:disabled{
  background-color: orchid;/*Hintergrundfarbe für deaktivierte buttons*/
  cursor: not-allowed; /*Zeiger nicht erlaubt*/
}