canvas {
  border: 1px solid black;
  height: 80vw;
  background-color: #f7e6ff;
  image-rendering: pixelated;
}

body {
  background-color: #efccff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
  position:relative;
}

.display-container {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}

#prediction-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prediction-container div {
  margin: 0 20px;
}
