canvas {
  border: 1px solid #0084ff65;
  height: 80vw;
  background-color: rgb(4, 255, 0);
  image-rendering: pixelated;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.display-container {
  color: rgb(255, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}

#prediction-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prediction-container div {
  margin: 0 20px;
}
