body {
  background-color: #b3ccff;
  color: rgb(0, 0, 0);
  padding-right: 10px;
}

header {
position: absolute;
top: 0;
left: 0;
width: 80vw;
padding: 30px 90px;
display: flex;
justify-content: space-between;
align-items: center;

}

header .Home {
  color: rgb(99, 72, 168);
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 20px;
}

header .Home a:hover {
  background: rgb(255, 255, 255);
  color: black;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;

}

header ul li {
  list-style: none;
  margin-left: 20px;
  font-size: 25px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: rgb(99, 72, 168);
  border-radius: 20px;
}

header ul li a:hover {
  background: rgb(255, 255, 255);
  color: black;
}

  main {
    width: 70%;
    margin: 0 15%;
  }

  .img-container {
    text-align: center;
    padding-top: 95px;
  }

  .img-container img {
    width: 90%;
    
  }
