
          body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 20px;
          }
          
          h1 {
            color: #333;
            text-align: center;
          }
          
          .question {
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 10px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }
          
          .answer {
            display: none;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }
          #x1F464{
            color: white
          }
          .button1 {
             top: 0;
            left: 0;
            position: fixed;
            display: inline-block;
            margin: 20px;
            padding: 10px 30px 15px;
         text-align: center;
         font-size: 18px;
         letter-spacing: 1px;
        text-decoration: none;
         color: #725AC1;
            background: transparent;
            cursor: pointer;
        transition: ease-out 0.5s;
        border: 2px solid #725AC1;
        border-radius: 10px;
        box-shadow: inset 0 0 0 0 #725AC1;
            }
            
            
            
            .button1:hover {
         color: white;
        box-shadow: inset 0 -100px 0 0 #725AC1;
            }
            
    
            
            .button1:active {
            transform: scale(0.9);
            }
            
            h1{
                text-align: center;
                margin-bottom: 20px;
                margin-left: 10px;
                font-family: 'Times New Roman', cursive;
                font-size: 3rem;
                color: #c4c38a;
                opacity: 0;
                animation-name: fade-in;
                animation-duration: 3s;
                animation-fill-mode: forwards;
              }
              
              @keyframes fade-in {
                0% {
                  opacity: 0;
                  transform: translateY(50px);
                }
                100% {
                  opacity: 1;
                  transform: translateY(0);
                }
              }
              .verkleinern{
                text-align: center;
                
               } 
               
               .verkleinern img {
                width: 400px;
               }
               
            
              