body{
    color:black;
    background-color: ghostwhite;
    text-align: center;
    font-size: 20px;
}

nav > ul > li {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  
  nav > ul > li > a {
    font-size: 2rem;
    text-decoration: none;
    color: blueviolet;
  }
  
  nav > ul > li > a:hover {
    text-decoration: underline;
  }

.img{
    width:50%;
    align-items: center;
}

h1{
    font-size: 30px;
    color: darkviolet;
}

.box{
    width:10px;
}