body {
  margin: 20px;
  background-color: #FF8040;
}
#menu {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 130px;
  height: 300px;
  background-color: #ffcc00;
}
#inhalt {
  margin-left: 150px;
  background-color: #FFFFCC;
}
  nav > ul > li {
    list-style: none;
    padding: 10px;
    margin: 0;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  
  nav > ul > li > a {
    font-size: 2rem;
    text-decoration: none;
    color: antiquewhite;
  }
  
  nav > ul > li > a:hover {
    text-decoration: underline;
  }
  main {
    padding: 20px 300px;
  }