body{
    color:black;
    background-color: aliceblue;
    font-size: 30px;
}

nav > ul > li {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  
  nav > ul > li > a {
    font-size: 2rem;
    text-decoration: none;
    color: darkblue;
  }
  
  nav > ul > li > a:hover {
    text-decoration: underline;
  }

  h1{
    font-size:30px;
    color: deepskyblue;
  }

  .box1{
    color: black;
    width: 70%;
    font-size: 20px;
  }