body{
    color:black;
    background-color: aliceblue;
    font-size: 30px;
    padding: 20px 50px;;
    width:70vw;
    margin:0 auto;
}

nav > ul > li {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  
  nav > ul > li > a {
    font-size: 2rem;
    text-decoration: none;
    color: darkblue;
  }
  
  nav > ul > li > a:hover {
    text-decoration: underline;
  }

  h1, h2{
    font-size:30px;
    color: deepskyblue;
    text-align: center;
  }

  .box1{
    color: black;
    font-size: 20px;
  }

  .box2{
    color: black;
    font-size: 20px;
  }
  
  .padding:hover{
    padding: 100px;
    transition: 2s ease-in-out;
  }