body {
  margin: 0;
  padding: 0;
  background-color: rgba(44, 44, 179, 0.216);
  color: rgb(176, 44, 193)
}

nav > ul > li {
  list-style: none;
  padding: 10px;
  margin: 0;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav > ul > li > a {
  font-size: 2rem;
  text-decoration: none;
  color: antiquewhite;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

main {
  padding: 20px 50px;;
}

h1 {
text-align: center;
font-size: 75px;
}

h2 {
  text-align: center;
  font-size: 35px;
}

p { 
  text-align: center;
}
.KI {
  border-color: black;
  border: 15px;
  border-style: solid;
  height: 50px;
  margin: 100px;
  padding: 30px;
  font-size: 10px
}

.Buttonhome {
  margin-top: 1cm;
  left: 0;
  position: relative;
  display: inline-block;
  margin: 20px;
  padding: 10px 30px 15px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;

}
.Buttonhome1 {
  margin-top: 1cm;
  right: 0;
  position: relative;
  display: inline-block;
  margin: 20px;
  padding: 10px 30px 15px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.Nav2 {
  background-color: #333; /* Hintergrundfarbe der Navbar */
  color: #fff; /* Textfarbe der Navbar */
  height: 80px; /* Höhe der Navbar */
  overflow-x: auto; /* Scrollen in horizontaler Richtung */
  white-space: nowrap; /* Verhindert Zeilenumbruch in der Navbar */
  overflow: top;
  overflow-y: hidden;
  
  
}

.Navbar-list2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar-list2 li {
  margin-right: 10px;
}

.Navbar-list2 li a {
  color: #fff; /* Textfarbe der Links */
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

.Navbar-list2 li a:hover {
  background-color: #555555; /* Hintergrundfarbe der Links beim Hovern */
}

.maschinelleslernen {
 color: black;
}

.textcontent2 {
  margin-left: 200px;
  margin-right: 200px;
}