body {
    margin: 0;
    padding: 0;
  background-color: darkslategray;
  color: antiquewhite
}

nav > ul > li {
  list-style: none;
  padding: 10px;
  margin: 0;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav > ul > li > a {
  font-size: 2rem;
  text-decoration: none;
  color: antiquewhite;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

main {
  padding: 20px 50px;;
}